# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.class
*.bak
*/target/*
*.project
*.classpath
.idea/
*.iml
*/.settings/*
*/bin/*
*.log
*.log.*